#page-map{
    width: 100vw;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside{
    background: linear-gradient(329.54deg, #176b7c 0%, #0e8f8f 100%);
    width: 440px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2{
    font-size: 35px;
    font-weight: 800;
    line-height: 47px;
    
    margin-top: 64px;
}

#page-map aside p{
    line-height: 28px;
    margin-top: 10px;
    font-size: 20px
}

#page-map aside footer{
    display: flex;
    flex-direction: column;

    line-height:24px;
}
#page-map aside footer strong{
    font-weight: 800;
}
#page-map .create-orphanage{
    position: absolute;
    right: 40px;
    bottom: 40px;

    width: 64px;
    height: 64px;
    background: #146572;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color .2s;
    transition: .2s;

    z-index: 10;

}
#page-map .create-orphanage:hover{
    background-color: rgba(0,0,0,.3);
    transform: scale(1.1);
    transition: .2s;
}

#page-map .leaflet-container{
    z-index: 5;
}
#page-map .map-popup .leaflet-popup-content-wrapper{
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: none;
}
#page-map .map-popup .leaflet-popup-content{
    color: #146572;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page-map .map-popup .leaflet-popup-content a{
    width: 30px;
    height: 30px;
    background: #146572;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#page-map .map-popup .leaflet-popup-tip-container{
    display: none;
}

aside footer a,
aside footer button {
    width: 48px;
    height: 48px;

    margin-top: 20px;

    border: 0;
    outline: none;

    background: #12AFCB;
    border-radius: 16px;

    cursor: pointer;

    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

aside footer a:hover,
aside footer button:hover {
    background-color: rgba(0, 0, 0, .1);
    transform: scale(1.1);
    transition: .2s;
}